body {
    color: #2d2a24;
    font-size: 16px;
    line-height: 1.5;
    /* font-family: "Lusitana"; */
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    background-color: 	#FFFFFF;
}

#logo {
    width: 75px;
    height: 75px;
}

.navbar-links {
    color: grey;
    text-decoration: none;
    margin: 20px;
}

.navbar-plant-collection {
    color: #111111;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    margin: auto;
    margin-left: 14px;
}

.navbar-links:hover
{
     color: black;
     text-decoration:none;
     cursor:pointer;
}

.user-plant-photo {
    width: 250px;
    height: 250px;
}

.plant-search-bar {
    font-size: 14px;
    border-radius: .25rem;
    border: 1px solid lightgrey;
    margin-top: 5px;
}

.pl-attr {
    /* color: rgb(42, 72, 45); */
    color: #4d4d4d;
}

.wishlist-plant {
    /* width: 150px; */
    height: 150px;
}


.wishlistPlant {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(38, 61, 41, .1);
    margin: 20px;
}

#messages-form-banner {
    box-shadow: 0 0 8px 8px white inset;
}
.plant-style {
    padding: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.link-to-plant {
    text-decoration: none;
}

.plant-row-style {
    align-items: center;
}

.btn-cont {
    display: flex;
    justify-content: space-around;
}

.plant-page-top-row {
    padding-bottom: 25px;
    padding-top: 25px;
}

.plant-row-image {
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 300px;
}

.plant-profile-image {
    float: right;
    height: 400px;
    width: 350px;
    border-radius: 7px;
}

.water-days-count {
    justify-content: left;
    padding-top: 5px;
}

.borderless-button {
    border: none;
    padding-top: 0;
    margin-top: 0;
}

.homepage {
    padding-top: 40px;
    padding-bottom: 80px;
}

.user-plant-delete-button {
    margin: 0;
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.pad-l {
    padding-left: 30px;
}
.user-plants-cont {
    padding-top: 8px;
}

.svg-inline--fa {
    margin-right: 6px;
    margin-top: 4px;
}

.plant-bio-profile {
    padding-top: 5px;
    border-top: 1px solid lightgray;
    margin-bottom: 1.25rem;
    font-family: Domaine-Regular,helvetica,roboto,arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

#navbar {
    height: 50px;
}

.p-l-10 {
    padding-left: 10px;
}

.userPlant {
    border-radius: 7px;
    background-color: rgb(38, 61, 41, .1);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plant-name-container {
    justify-content: center;
}

.plant-button-container {
    justify-content: space-around;
}

.center-cont {
    justify-content: center;
}

.footer-icon {
    height: 20px;
    width: 20px;
}

.plant-filter-search {
    display:flex;
    padding-right: 150px;
    padding-left:150px;
    margin-top: 10px;
    justify-content: space-between;
}

.footer {
    background-color: rgb(159, 142, 122, .5);
    color: #111111;
    font-size: 12px;
}

.footer-container {
    justify-content: space-around;
}

.copyright {
    font-size: 10px;
    padding-bottom: 20px;
}

.padding-b {
    padding-bottom: 100px;
}

.pad-top {
    padding-top: 25px;
}

.pad-top-15 {
    padding: 8px;
    padding-top: 15px;
}

.logo {
    height: 100px;
    width: 100px;
}


.wishlist-title-container {
    display: flex;
    justify-content: left;
    padding-top: 25px;
    border-bottom: 1px solid#263d29;
}

.wishlist-title {
    padding: 8px 16px;
}


.wishlist-title-text {
    font-weight: 700;
    color: #111111;;
    font-size: 22px;
}

.user-plant-profile {
    font-weight: 700;
    color: #111111;
    font-size: 22px;
    padding-top: 25px;
    border-bottom: 1px solid#263d29;
}

.add-room-input {
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    padding-bottom: 2px;
}

.room-name-input {
    margin-right: 5px;
}

.plant-count {
    font-size: 18px;
    font-weight: 400;
    color: #263d29;
}

.comments-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.comment-user {
    padding-top: 8px;
}

.plant-comment-container {
    font-weight: 400;
    border-radius: 7px;
    padding: 5px;
    background-color: rgb(38, 61, 41, .1);
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pcc {
    padding-left: 20px;
}


.sprig {
    width: 35px;
    position: absolute;
    margin-top: 3px;
}

.reminders-div {
    margin-top: 30px;
}

.reminders-form {
    border-radius: 7px;
    background-color: rgb(38, 61, 41, .1);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pn {
    font-size: 18px;
    font-weight: 400;
    color: #263d29;
}

.dropdown-user-rooms {
    float: right;
}

.brand {
    font-family: 'Special Elite', cursive;
}

.pb-title {
    margin-top: 20px;
}

.nickname {
    font-family: 'Tajawal', sans-serif;
    color: rgb(62, 69, 61);
    font-size: 18px;
}
